CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Ignore build folder
build/

# CLion workspace
.idea/tasks.xml
.idea/workspace.xml

# CLion build folders
cmake-build-debug/
cmake-build-release/